stages:
  - deploy

variables:
  ANSIBLE_CONFIG: ./ansible.cfg

deploy_service_to_instances:
  image: cytopia/ansible:latest-aws
  stage: deploy
  #when: manual
  script:
    - pwd
    - ls
    - ansible-inventory --graph -i aws_ec2.yaml
    - ansible-playbook unit_service_with_docker_playbook_with_role.yml -vvv
