stages:
  - deploy

deploy_service_to_instances:
  image: ansible/ansible-runner:latest
  stage: deploy
  when: manual
  script:
    - ansible-playbook unit_service_with_docker_playbook_with_role.yml -vvv
