stages:
  - deploy

variables:
  ANSIBLE_CONFIG: ./ansible.cfg

deploy_service_to_instances:
  image: cytopia/ansible:latest-aws
  stage: deploy
  before_script:
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo $SSH_PRIVATE_KEY > ~/.ssh/id_rsa
    - cat ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    #when: manual
  script:
    - mkdir ~/.aws
    - |
      echo "[default] \
            region = us-east-1 \
            output = json" > ~/.aws/config
    - pwd
    - ls
    - ansible-inventory --graph -i aws_ec2.yaml
    - ansible-playbook unit_service_with_docker_playbook_with_role.yml -vvv
